{{!-- Sidebar right --}}
<div id="sidebar" class="col s12 m4 sidebar sidebar-sticky u-h-b-{{#is "post"}}lg{{else}}md{{/is}}">

    {{#is "home" }}
        {{#get "posts" filter="page:true+featured:true+tag:games" as |gamelist| }}
            {{> "sidebar-games" widgetTitle=(t "Games") widgetPosts=gamelist }}
        {{/get}}
    {{/is}}

    {{!-- 5 articles recents in page (post) --}}
    {{#is "post, tag, author, paged" }}
        {{#get "posts" limit="5" as |recents| }}
            {{> "sidebar-post" widgetTitle=(t "Latest Posts") widgetPosts=recents }}
        {{/get}}
    {{/is}}



    {{!-- Twitter --}}
    <div class="sidebar-items u-hide u-card-shadow">
        <h3 class="sidebar-title">{{t "Recents Tweets"}}</h3>
        <div class="widget-twitter"></div>
    </div>

    {{!-- facebook --}}
    <div class="sidebar-items u-hide u-card-shadow" style="min-height:500px">
        <h3 class="sidebar-title">Facebook</h3>
        <div class="widget-facebook"></div>
    </div>

<iframe src="https://discordapp.com/widget?id=363007060461223936&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>

</div>
